.Signup{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}
.mainHeading{
    margin-top: 40px;
}
.main_p{
    margin-top: 35px;
    font-size: 20px;
}
.main_span{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
@media (max-width:1280px) {
    .Signup{
        margin-top: 25%;
    }
}
@media (max-width:720px) {
    .Signup{
        margin-top: 25%;
    }
}
@media (max-width:640px) {
    .Signup{
        margin-top: auto;
        margin-bottom: auto;
    }
    .main_p{
        max-width: 85%;
        text-align: center;
    }
}