
.mainInputs{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    /* min-width: 100px; */
    width: 100px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    box-shadow: 6px 7px 0px 0 rgba(0,0,0,.4);
}
input{
    border: none;
    height: 90%;
    padding: 3px;
    font-size: 16px;
    border: 1px solid rgb(135, 132, 132,.3);
    /* width: 100px; */
    border-radius: 3px;
    background: transparent;
    text-align: center;
    outline: none;
    
    margin-bottom: 5px;
}
button{
    background: black;
    color: white;
    font-size: 20px;
    padding:10px;
    padding-left: 20px;
    border-radius: 4px;
    box-shadow: 7px 8px 0 1px rgba(180,150,140.2);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button:disabled{

    background: rgb(85, 84, 84,.5);
}


@media  (max-width:1280px) {
    input{
        font-size: 20px;
    }
    
}
@media  (min-width:1280px) {
    .mainInputs{
        /* min-width: 20vw; */
        width: 200px;

    }
    button{
        /* min-width: 21vw; */
    }
    
    input{
        width: 200px;

    }
}
@media  (min-width:780px) {
    .mainInputs{
        /* min-width: 30vw; */
    }
    button{
        /* min-width: 31vw; */
    }
    
}
@media  (max-width:640px) {
    input{
        font-size: 14px;
    }
    button{
        width:auto;
        min-width:300px;
    }
    .mainInputs{
        width:auto !important;
        min-width:280px !important;
    }
}



.loader{
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-left: -30%;
    margin-right: auto;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    animation: loading 1s  .2s infinite linear ;
}
@keyframes loading {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
}

#insideloader{
    width: 25px;
    height: 25px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-radius: 50%;
    animation: spinleft 1s  .2s infinite linear ;
}
@keyframes spinleft {
    from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}