.Register{
    display: flex;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}
.mainHeading{
    margin-top: 40px;
}
.reg_p{
    margin-top: 35px;
    font-size: 20px;
}
.reg_span{
    color: red;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}
@media (max-width:1280px) {
    .Register{
        margin-top: 25%;
    }
}
@media (max-width:720px) {
    .Register{
        margin-top: 25%;
    }
}
@media (max-width:640px) {
    .Register{
        margin-top: auto;
        margin-bottom: auto;
    }
    .reg_p{
        max-width: auto;
        text-align: center;
    }
}