
.view{
    display: flex;
    flex-direction: column;
}
.mainContenDiv{
    border: none;
    width: 90%;
    margin-top: -10px;
}
.logout_{
    cursor: pointer;
}
.subheading{
    margin-top: 10px;
}
.filteroptions{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
#filterLabel{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 20px;
}
select{
    width: 200px;
    height: 30px;
    background: transparent;
    font-size: 20px;
    border: 2px solid black;
    padding-left: 5px;
    outline: none;
    border-radius: 20px;
}

.table_{
    width: 80%;
    margin-top: 20px;
    /* overflow: hidden; */
    height: auto;
    /* border-radius: 20px; */
}
.lastslit{
    width: 100%;
    /* height:50px; */
    display: flex;
    justify-content: end;
    margin-top: 20px;
    align-items: center;
}
.headings_1{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.counts_{
    /* height: 50px; */
    display: flex;

    font-size: 20px;
    padding-top: 20px;
    /* flex-direction: column; */
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 1px solid black;
    width: 190px;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    position: absolute;
}
.buttonsslit{
    width: 100px;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table,tr{
    width: 100%;
    min-width: 200px;
    border-radius: 20px;
    overflow: hidden;
    /* border: 1px solid black; */
}
table,td{
    text-align: center;
    height: 75px;
    font-weight: 500;
    min-width: 200px;
    font-size: 20px;
    border-bottom: 1px solid rgb(177, 174, 174,.3);
    background: rgba(243, 242, 242, 0.2);
    /* border-right: 1px solid black;
    border-bottom: 1px solid black; */
}
tr:hover td{
    background: rgba(243, 242, 242, 0.4);
    font-size: 22px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .2s;
}

.loading_s{
    margin-top: 50px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading_s .6s linear  infinite ;
    border-radius: 50%;
    border-top: 2px solid black;
}
.inone{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top: 2px solid black;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.intwo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 2px solid black;
    transform: rotate(90deg);
}
@keyframes loading_s {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
th{
    width: 25%;
    height: 70px;
    text-align: center;
    background: rgb(240, 238, 238,.4);
    font-weight: 600;
    letter-spacing: 1px;
    /* color: rgb(21, 20, 20,.7); */
    /* border-bottom: 1px solid rgb(179, 177, 177,.3); */
    border: 1px solid black;
    background: black;
    color: white;
}
.mobilediv{
    display: none;
}
@media (max-width:640px) {
    .subheading{
        margin-top: 40px;
        font-size: 22px;
    }
    .mainContenDiv{
        height: auto;
    }
    .counts_{
        position: absolute;
        font-size: 15px;
        align-items: end;
        margin-bottom: 20%;
        margin-left: 55%;
        border: none;
    }
    .lastslit{
        justify-content: end;
        /* padding-left: 40px; */
        padding-right: none;
    }
    table{
        display: none;
    }
    .table_{
        overflow: hidden;
        width: 100%;
        border-radius: none;
        min-height: 200px;
        /* border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-top: 1px solid black; */

    }
    select,#filterLabel{
        font-size: 14px;
    }
    select{
        width: 40vw;
    }
    .mobilediv{
        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: 5px;
        height: auto;
    }
    .insidemobile{
        width: 99%;
        height: 60px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, .5);;
        border-radius: 4px;
        /* border: 1px solid rgba(0, 0, 0, .2); */
        box-shadow: 0 10px 22px -7px  rgba(0, 0, 0, .2);
    }
    .buttonsslit{
        margin-top: 20px;
    }
    .sameDivs_{
        width: 34%;
        /* border-bottom: 1px solid black;
        border-right: 1px solid black; */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
    #names,#prices{
        font-weight: 700;
        text-transform: capitalize;
    }
    #prices{
        color: rgb(74, 74, 247);
    }
}